.canvasify-atchCtrl-attachment-wrapper {
  font-family: 'Segoe UI', sans-serif;
  padding: 16px;
  background-color: #f9fafb;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.canvasify-atchCtrl-1);
  height: 100%;
  overflow-y: auto;
  /* max-width: 600px; */
}

.canvasify-atchCtrl-button {
  background-color: #3b82f6;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.canvasify-atchCtrl-2s ease;
}

.canvasify-atchCtrl-button:hover {
  background-color: #2563eb;
}

.canvasify-atchCtrl-drop-zone {
  padding: 20px;
  border: 2px dashed #94a3b8;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  color: #64748b;
  background-color: #f1f5f9;
  transition: 0.canvasify-atchCtrl-3s ease;
}
.canvasify-atchCtrl-drop-zone {
  position: relative;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}


.canvasify-atchCtrl-drop-zone.canvasify-atchCtrl-drag-over {
  background-color: #e0f2fe;
  border-color: #3b82f6;
  color: #0c4a6e;
}

.canvasify-atchCtrl-ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
} 


.canvasify-atchCtrl-file-entry button {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 14px;
  padding: 6px 10px;
  margin-left: 8px;
  border-radius: 6px;
}

.canvasify-atchCtrl-file-entry button:hover {
  background-color: #d1d5db;
}
.canvasify-atchCtrl-file-entry {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.canvasify-atchCtrl-04);
}
.canvasify-atchCtrl-file-entry P{
    WIDTH: -webkit-fill-available;
    TEXT-ALIGN: left;
}

.canvasify-atchCtrl-action-buttons {
  display: flex;
  gap: 8px;
}

.canvasify-atchCtrl-action-buttons button {
  background-color: #f3f4f6;
  color: #374151;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.canvasify-atchCtrl-2s ease;
}

.canvasify-atchCtrl-action-buttons button:hover {
  background-color: #e5e7eb;
}

